:root{
  --text-btn:  #fff;
}

@import url('../../sources/font/Quicksand/Quicksand-VariableFont_wght.ttf');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
}
body{
  font-family: 'poppins', serif;
}

.btn{
  font-size: 1.7rem;
  text-decoration: none;
  color: var(--text-btn);
  border-radius: 30px;
  padding: 10px 8px;
}

.wide--1080{
  max-width: 1080px;
}

.wide--1200{
  max-width: 1200px;
}
